
table.search{
	border-collapse:collapse; 
	border:1px gray solid;
}

table.list{
	border-collapse:collapse; 
	border:1px gray solid;
}

table.detail{
	border-collapse:collapse; 
	border:1px gray solid;
}

table.listTable{
	border-collapse:collapse;
	border:1px solid #b2d6e9;
	background-color:#f5f5f5;
}



table.search{
	border:1px solid #b2d6e9;
	margin-bottom:5px;
}

tr.header {
	background: #d6ebfe;
}
th{
	text-align:left;
	background: #d6ebfe;
}
th.list_prdct{
	text-align : center;
	align : center;
	color : black;
}

tr.record {
	background: #FF00FF;
}
tr.selected{
	background-color:#39F;
}
td.middle_indicator{
	color:8c8a8b;
	font-family: Malgun Gothic;
}
td.middlemenu{
	hover:link;
}
td.middlemenu:hover{
	cursor:hand;
}


a:link {
	text-decoration:none;
	color:#0000ff;
}
a:visited  {
	color:#0000ff;
}

a.checkproccess:link {
	text-decoration:none;
	color:#ffffff;
}
a.checkproccess:visited  {
	color:#ffffff;
}


a.topmenu{
	text-align:center;
	color:#0000bb;
	font-family: Malgun Gothic;
	font-size: 15px;
	font-weight: bold;
}

font.middlemenu{
	
	font-family: Malgun Gothic;
	font-size: 15px;
	font-weight: bold;
}

button.webButton{
	width:200px;
	background-color: #6699ff; 
	box-shadow:1px 3px 8px rgba(0,0,0,.6);
}

button.webButton:hover{
	background-color:#0000ff;
}

button.btnNumberCheck{
	width:100px;
}